---
---

@import "{{ site.theme }}";

body {
  font-family: 'Bitcount Prop Double Ink', sans-serif;
  background-color: #000000;
  color: #e617c0;
}

h1, h2, h3 {
  color: #e617c0;
}


a {
  color: #e617c0;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}
