---
---

@import "{{ site.theme }}";

body {
  font-family: 'Bitcount Prop Single';
  background-color: #000000;
  color: #e617c0;
}

a {
  color: #e617c0;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}
